<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zinzin.loltft">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        tools:replace="android:theme"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.zinzin.loltft.SplashActivity"
            android:configChanges="screenLayout|orientation|screenSize"
            android:windowSoftInputMode="adjustNothing"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.zinzin.loltft.MainActivity"
            android:configChanges="screenLayout|orientation|screenSize"
            android:windowSoftInputMode="adjustNothing"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.zinzin.loltft.DetailActivity"
            android:configChanges="screenLayout|orientation|screenSize"
            android:windowSoftInputMode="adjustNothing"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.zinzin.loltft.BuildTeamActivity"
            android:configChanges="screenLayout|orientation|screenSize"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"></activity>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5796098881172039~7278199612"/>
    </application>

</manifest>